<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/chat-style.css" />
    <title>Chat</title>
  </head>
  <body>
    <div class="chat-page">
      <div class="contents">
        <div class="nav">
          <button class="dropbtn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/discover">Discover</a>
            <a href="/matches">Matches</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
        <div class="banner">
          <h1 id="employer-match-info"></h1>
        </div>
        <div class="chat">
          <form>
            <input
              type="text"
              placeholder="Type a message.."
              class="input"
              autocomplete="off"
              autofocus
            />
            <button>Send</button>
          </form>
          <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
          <script>
            let userInfo;
            let matchID = /[^/]*$/.exec(window.location.href)[0];
            const form = document.querySelector("form");
            const input = document.querySelector(".input");
            const messages = document.querySelector(".chat");
            let username = "";
            const socket = io("http://localhost:3000");
            let messageHistory = [];
            let jobDetails = "";
            socket.emit("hello", "hello from client");
            socket.on("hello", function (msg) {
              console.log(msg);
            });
            getUserInfo().then(response => assignUserInfo(response));
            getMessageHistory();

            function assignUserInfo(info) {
              userInfo = info;
              console.log(userInfo);
              username = userInfo.user;
              document.getElementById("employer-match-info").innerText = `Chat with ${userInfo.match}`
            }

            socket.emit("user_join", username);
            socket.on("chat_message", function (data) {
              addMessage(userInfo.user + ": " + data.message);
            });
            form.addEventListener(
                    "submit",
                    async function (event) {
                      event.preventDefault();
                      addMessage(username + ": " + input.value);
                      addMessageHistory(username, input.value);

                      socket.emit("chat_message", {
                        message: input.value,
                      });

                      input.value = "";
                      return false;
                    },
                    false
            );

            async function getUserInfo() {
              let matchURL = 'http://localhost:3000/matches/getNames/'+matchID;
              let response = await fetch(matchURL, {
                method: 'GET',
                headers: {
                  accept: 'application/json',
                },
              });
              let data = await response.json();
              return data;
            }

            async function getMessageHistory() {
              let response = await fetch('http://localhost:3000/message/all/' + matchID, {
                method: 'GET',
                headers: {
                  accept: 'application/json',
                },
              });
              messageHistory = await response.json();
              for (let i=0; i < messageHistory.message_history.length; i++){
                let message = messageHistory.message_history[i]["author"] + ': ' + messageHistory.message_history[i]["message_body"];
                addMessage(message);
              }
            }

            async  function addMessageHistory(username, inputValue) {
              let messageURL = 'http://localhost:3000/message/create/' + matchID;
              let response = await fetch(messageURL, {
                method: "POST",
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                  "name": userInfo.user,
                  "message_body": inputValue
                })
              });
              let data = await response.json();
              return data
            }

            function addMessage(message) {
              const li = document.createElement("li");
              li.innerHTML = message;
              messages.appendChild(li);
              window.scrollTo(0, document.body.scrollHeight);
            }

          </script>
        </div>
      </div>
    </div>
  </body>
</html>
