<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/chat-style.css" />
    <title>Chat</title>
  </head>
  <body>
    <div class="chat-page">
      <div class="grid">
        <div class="nav"><button type="button">Navigation Here</button></div>
        <div class="messages">
          <h2>Messages</h2>
          <div class="matches">Insert Jobs here</div>
        </div>
        <div class="banner">
          <div class="logo"></div>
          <h1>Conversation with Company</h1>
          <h2>
            You matched on the
            <h2 class="actual-job-name">JOB</h2>
            on DD/MM/YY
          </h2>
        </div>
        <div class="chat">
          <!--can have the html for chat placed or called here-->
        </div>
        <div class="useless-space"></div>
        <div class="role">
          <h2>Logo Placeholder</h2>
          <h2>Company</h2>
          <h2>Job Title</h2>
          <div class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
