<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/chat-style.css" />
    <title>Chat</title>
  </head>
  <body>
    <div class="chat-page">
      <div class="grid">
        <div class="nav">
          <button class="dropbtn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Logout</a>
            <a href="#">Discover</a>
            <a href="#">Message</a>
          </div>
        </div>
        <div class="messages">
          <h2>Messages</h2>
          <div class="matches">Insert Jobs here</div>
        </div>
        <div class="banner">
          <div class="logo"></div>
          <h1>Conversation with Company</h1>
          <h2>
            You matched on the
            <h2 class="actual-job-name">JOB</h2>
            on DD/MM/YY
          </h2>
        </div>
        <div class="chat">
          <form>
            <input
              type="text"
              placeholder="Type a message.."
              class="input"
              autocomplete="off"
              autofocus
            />
            <button>Send</button>
          </form>
          <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
          <script>
            const form = document.querySelector("form");
            const input = document.querySelector(".input");
            const messages = document.querySelector(".chat");
            const username = prompt("Please enter a nickname: ", "");
            const socket = io("http://localhost:3000");
            let messageHistory = [];
            let jobDetails = "";

            socket.emit("hello", "hello from client");
            socket.on("hello", function (msg) {
              console.log(msg);
            });

            form.addEventListener(
              "submit",
              async function (event) {
                event.preventDefault();

                addMessage(username + ": " + input.value);

                let response = await fetch('http://localhost:3000/message/create/63965a173714f284189d4088', {
                  method: "POST",
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    "name": username,
                    "message_body": input.value
                  })
                });
                let data = await response.json();

                socket.emit("chat_message", {
                  message: input.value,
                });

                input.value = "";
                return false;
              },
              false
            );

            socket.on("chat_message", function (data) {
              addMessage(data.username + ": " + data.message);
            });

            socket.on("user_join", function (data) {
              addMessage(data + " just joined the chat!");
            });

            socket.on("user_leave", function (data) {
              addMessage(data + " has left the chat.");
            });

            async function getMessageHistory() {
              let response = await fetch('http://localhost:3000/message/all/63965a173714f284189d4088', {
                method: 'GET',
                headers: {
                  accept: 'application/json',
                },
              });
              messageHistory = await response.json();
              for (let i=0; i < messageHistory.message_history.length; i++){
                let message = messageHistory.message_history[i]["author"] + ': ' + messageHistory.message_history[i]["message_body"];
                addMessage(message);
              }
            }

            getMessageHistory();
            getJobDetails();

            async function getJobDetails() {
              let response = await fetch('http://localhost:3000/api/job/6396cbba8874ebed81173f62', {
                method: 'GET',
                headers: {
                  accept: 'application/json',
                },
              });
              let data = await response.json();
              jobDetails = data[0];
            }


            addMessage("You have joined the chat as '" + username + "'.");
            socket.emit("user_join", username);

            function addMessage(message) {
              const li = document.createElement("li");
              li.innerHTML = message;
              messages.appendChild(li);
              window.scrollTo(0, document.body.scrollHeight);
            }
          </script>
        </div>
        <div class="useless-space"></div>
        <div class="role">
          <h2>Logo Placeholder</h2>
          <h2>Company</h2>
          <h2>Job Title</h2>
          <div class="description">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
