<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Discover</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>
    <div id="mainDiscContentDiv">
        <div id="companyAndMatch">
            <div id="companyTitle">
                <h1><%= companyTitle %></h1>
            </div>
            <div id="companyLogo">
                <img src="images/testImg.png">
            </div>
            <div id="match">
                <a href="discover/yes">
                    <img src="images/accept.png">
                </a>
                <a href="discover/no">
                    <img src="images/decline.png">
                </a>
            </div>
        </div>

        <div id="info">
            <div id="looking">
                <h1>Looking for</h1>
                <ul>
                    <li>Apple Enjoyer</li>
                    <li>Apple Chef</li>
                    <li>Apple observer</li>
                </ul>
            </div>
            <div id="skillsDivs">
                <h1>Skills</h1>
                <ul>
                    <li>Eating Apples</li>
                    <li>Cooking Apples</li>
                    <li>Seeing Apples</li>
                </ul>
            </div>
        </div>
    </div>
  </body>
</html>