<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title> Employee Profile </title>
    <script src="/js/profile_employee.js"></script>

</head>

<body onload=getEmployeeInfo() id='profile-body'>

    <div id = "profile-div"> 
        <span id = "name"> </span>
        <br> 
        <span class = "desc" id = "c-position"> </span>
        <br> 
        <span class = "desc" id = "c-level"> </span>
        <br> 
        <br> 
        <br> 
        <span class = "desc" id = "d-level"> </span>
        <br> 
        <span class = "desc" id = "d-position"> </span>
        <br> 
        <br> 
        <span class = "desc" id = "skills"> Skills: </span> 
        <div id = "skill-div"> 
        </div>
        <br> 
        <br> 
        <span class = "desc" id = "pjd"> Preferred Job Details: </span> 
        <div id = "pjd-div"> 
        </div>
        <br> 
        <br> 
        <br> 
        <a class="button" href="/discover"> <b>Start Matching!</b> </a>
    </div>

    
</body>
</html>