<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title> Employer Profile </title>
    <script src="/js/profile_employer.js"></script>

</head>

<body onload=getEmployer() id = 'profile-body'>
    <div class="nav">
        <button class="dropbtn">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="/profile/current">Profile</a>
            <a href="/discover">Discover</a>
            <a href="/matches">Matches</a>
            <a href="/logout">Logout</a>
        </div>
    </div>
    <!-- <a class="button" href="/discover"> <b>Start Matching!</b> </a>
    <a class="button" href="/account/employer-form"> <b>Edit Profile</b> </a> -->
<!-- <h2> test </h2> -->

    <!-- <p>Collapsible Set:</p>
    <button class="collapsible" onclick="opentext()">Open Section 1</button> -->

    <div id = "jobSet"> 

    </div>
    <!-- <div class="content" id = "c">
      <p>HELLO HELLO HELLO</p>
    </div> -->
    <!-- <button class="collapsible">Open Section 2</button>
    <div class="content">
        <p>HELLO HELLO HELLO</p>
    </div>
    <button class="collapsible">Open Section 3</button>
    <div class="content">
        <p>HELLO HELLO HELLO</p>
    </div> -->

    <!-- <div id = "profile-div"> 
        <span id = "name"> </span>
        <br> 
        <span class = "desc" id = "c-position"> </span>
        <br> 
        <span class = "desc" id = "c-level"> </span>
        <br> 
        <br> 
        <br> 
        <span class = "desc" id = "d-level"> </span>
        <br> 
        <span class = "desc" id = "d-position"> </span>
        <br> 
        <br> 
        <span class = "desc" id = "skills"> Skills: </span> 
        <div id = "skill-div"> 
        </div>
        <br> 
        <br> 
        <span class = "desc" id = "pjd"> Preferred Job Details: </span> 
        <div id = "pjd-div"> 
        </div>
        <br> 
        <br> 
        <br> 
        <button> Start Matching! </button>
    </div> -->



</body>