
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/loginStyle.css">

</head>
<body>

    <h1 id="title"> WILDCARD</h1>


    <div id="greenBox">


        <div id="loginBox">

            <h2 id="loginTitle">LOGIN</h2>
            
            <form id = "signup-form">

                <label for="email">Email</label> 
                
                <input type="text" id="email" name="email"> <br><br>
                
                <label for="password">Password</label> 
                
                <input type="text" id="password" name="password"><br>

                <input id="loginButton" type="submit" value="Submit"> 


            </form>


        </div>

        <div id="signupDiv"> 
            <button id="signupButton">Signup</button>
        </div>


    </div>


</body>
</html>
