/* sorry yall i made a new style sheet because padding in the body wasnt applicable to the chat page lol */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns: 60% 20%;
  grid-template-rows: 88%;
}

.nav {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 0;
  grid-row-end: 1;
  background-color: #22577a;
  padding-top: 30px;
  padding-left: 30px;
}

.messages {
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #38a3a5;
}

.messages h2 {
  padding: 20px;
  color: white;
  font-size: 24;
}

.matches {
  padding: 20px;
}

.banner {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 0;
  grid-row-end: 1;
  background-color: #38a3a5;
  padding-left: 10px;
  color: white;
  padding-top: 10px;
}

.actual-job-name {
  color: #80ed99;
  display: inline;
}

.banner h1 {
  font-size: 36;
}

.banner h2 {
  font-size: 1;
  display: inline;
}

.chat {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #22577a;
}

form {
  position: fixed;
  bottom: 0;
  width: 60%;
  display: flex;
  box-sizing: border-box;
  padding: 0.25rem;
  background-color: #22577a;
}

form input {
  border: 0;
  padding: 0.5rem;
  width: 100%;
  outline: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: larger;
  font-style: bold;
  border-radius: 0.5rem;
  background: rgb(255, 255, 255);
}

form button {
  width: 6rem;
  background-color: #57cc99;
  color: white;
  border: none;
  padding: 0.5rem;
  height: 50px;
  font-size: larger;
  font-style: bold;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

form button:hover {
  background-color: #9bebc8;
}

.chat li {
  padding: 0.5rem;
  margin: 20px;
  width: 350px;
  background-color: #57cc99;
  border-radius: 50px;
  margin-left: 50px;
  list-style: none;
  padding-left: 15px;
}

.chat li:nth-child(odd) {
  padding: 0.5rem;
  margin-left: 650px;
  width: 350px;
  background-color: #57cc99;
  border-radius: 50px;
  margin-right: 0px;
  list-style: none;
  padding-left: 15px;
}

.useless-space {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
  background-color: #57cc99;
}

.role {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #57cc99;
  display: inline;
  text-align: center;
}

.description {
  padding: 20px;
}
