#profile-body {
    /* background-color: #22577A; */
    background-image: url('../images/geometric.jpg');
  }

#profile-div { 
    background-color: #eaf4f4 ;
    /* border-color: #22577A; */
    width: 50%; 
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    border-radius: 20px;
    box-sizing: border-box;
    border:1px solid #22577A;
}

#name { 
    color: #22577A;
    font-size: 30pt;
    font-weight: bold;
}

.desc { 
    color: #22577A;
    font-size: 17pt;
    font-weight: 500;
    
}

.button-link { 
    background-color: #57CC99; 
    border-radius: 10px;
    padding: 15px;
    border: none;
    width: 100%;
    font-weight: 500;
    font-size: 13pt;
    color: #FFFFFF;
    text-decoration: none;
}

button:hover { 
    background-color: #D9D9D9;
    color: #22577A;

}


#job-button { 
  width : 50%; 
  margin-left: 25%;
  margin-right: 25%;
}

#top-bar{ 
    width: 100%; 
}

.child-div { 
    float: left;
    width: 100%; 
  }

  .nav {
    padding: 20px;
    width: 60px;
    margin-left: 86vw;
}

.nav .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #38a3a5;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.nav:hover .dropdown-content {
    display: block;
}

.line {
    width: 45px;
    height: 6px;
    background-color: black;
    margin: 8px 0;
  }